@page
@using XUnitBlog.Domain.Entities
@model IndexModel
@{
    ViewData["Title"] = "Inicio";

    var mainPost = Model.PinnedPosts.FirstOrDefault();
    IList<Post> remainingPosts;
    if (Model.PinnedPosts.Any())
    {
        remainingPosts = Model.PinnedPosts.Skip(1).ToList();
    }
    else
    {
        remainingPosts = [];
    }
}

<!-- Main Grid -->
<div class="uk-grid-collapse uk-grid-match" uk-grid>
    @if (mainPost is not null)
    {
        <div class="uk-width-3-4 uk-inline">
            <img src="@mainPost.Thumbnail" alt="@mainPost.Title" style="height: 100%; object-fit: cover;" />

            <div class="uk-position-bottom uk-overlay uk-padding-small" style="color: white">
                @mainPost.Title
            </div>
        </div>
    }
    <div class="uk-width-1-4 uk-grid-collapse uk-child-width-1-1" uk-grid>
        @foreach (var post in remainingPosts)
        {
            <div>
                <div class="uk-inline uk-margin">
                    <img src="@post.Thumbnail" alt="@post.Title" style="height: 100%; object-fit: cover;" />

                    <div class="uk-position-bottom uk-overlay uk-padding-small" style="color: white">
                        @post.Title
                    </div>

                </div>
            </div>
        }
    </div>
</div>

<section class="uk-text-center uk-padding">
    <h3 class="uk-text-bold">Recentes</h3>

    @foreach (var post in Model.LatestPosts)
    {
        <div class="uk-child-width-1-1@@s uk-child-width-1-3@@m uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <img src="@post.Thumbnail" alt="" />
            </div>
            <div>
                <h4 class="uk-text-bold uk-margin-remove">@post.Title</h4>
                <p class="uk-text-small uk-margin-remove">@post.UpdatedAt.ToString("d/MM/yyyy")</p>
            </div>
            <div>
                <p class="uk-text-small">@(post.Content.Length > 200 ? post.Content.Substring(0, 200) + "..." : post.Content)</p>
            </div>
            
        </div>
    }
</section>

