@page
@model XUnitBlog.App.Pages.Admin.Posts.IndexModel
@{
    ViewData["Title"] = "Listagem de posts";
}

<div class="uk-container uk-margin">

    <h2>@ViewData["Title"]</h2>

    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Status</th>
                <th>Atualizado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.Title</td>
                    <td>@post.PostStatus</td>
                    <td>@post.UpdatedAt</td>
                    <td>
                        <a asp-page="/Admin/Posts/Update" asp-route-id="@post.Id" class="uk-button ">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>